<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
  <httpErrors errorMode="Detailed" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="E:\\deepanshu\\CasualCompanion\\venv\\Scripts\\python.exe|E:\\deepanshu\\CasualCompanion\\venv\\Lib\\site-packages\\wfastcgi.py"
           resourceType="Unspecified" />
    </handlers>
    <environmentVariables>
      <add name="DJANGO_SETTINGS_MODULE" value="soya_project.settings" />
      <add name="PYTHONPATH" value="E:\\deepanshu\\CasualCompanion\\backend" />
      <add name="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    </environmentVariables>
  </system.webServer>
</configuration>